// ==========================================================================
// All Form Elements Styling
// ==========================================================================

// == AJAX Loader
@import "loader";

// == Materialize Input Fields
@import "input-fields";

// == Materialize Radio
@import "radio-buttons";

// == Materialize Checkbox
@import 'checkboxes';

// == Materialize Switches
@import "switches";

// == Materialize Select
@import "select";
@import "select2/core";

// == Sliders/Ranges
@import "grading";

// == SDA
@import "sda-list";

// == Uploader
@import "uploader";

// == Buttons
@import "buttons";

// == Theme Preview
@import "theme-preview";
